@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bebas+Neue&family=Courgette&family=Inter:wght@400;700&family=Lobster&family=Manrope:wght@700&family=Poppins:wght@500;600;700&display=swap');

.nav-container {
    background-color: rgb(229, 228, 226);
    position: sticky;
    padding: 16px 0;
    top: 0;
}

.link {
    margin-left: 36px;
    text-decoration: none;
    font-family: 'Balsamiq Sans', cursive;
}